{% use "form_div_layout.html.twig" %}

{# Widgets #}

{%- block form_start -%}
    {% if (attr.class is not defined) or (not 'uk-form-vertical' in attr.class) %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-form-horizontal')|trim}) %}
    {% endif %}
    {{- parent() -}}
{%- endblock form_start -%}

{%- block form_end -%}
    {{- parent() -}}
    {{ include('@UniteCMSCore/Form/_recursive_asset_dumper.html.twig', { form: form }) }}
{%- endblock form_end -%}

{%- block form_row -%}
    {% if block_prefixes[1] is defined and block_prefixes[1] == 'checkbox' %}
        <div class="uk-margin">
            <div class="uk-form-controls uk-form-controls-text uk-form-controls-checkbox">
                {{- form_widget(form) -}}
            </div>
            {% if (form.vars.description is defined and form.vars.description is not empty) %}
                <p class="uk-form-help-inline">{{ form.vars.description }}</p>
            {% endif %}
            {{- form_errors(form) -}}
        </div>
    {% elseif label is not same as(false) -%}
        <div class="uk-margin">
            {{- form_label(form) -}}
            <div class="uk-form-controls">
                {{- form_widget(form) -}}

                {% if (form.vars.description is defined and form.vars.description is not empty) %}
                    <p class="uk-form-help-inline">{{ form.vars.description }}</p>
                {% endif %}
                {{- form_errors(form) -}}
            </div>
        </div>
    {% else %}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    {% endif %}

{%- endblock form_row -%}

{%- block button_row -%}
    <div class="uk-text-right" uk-margin>
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row -%}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' uk-form-label')|trim}) -%}
    {{- parent() -}}
{%- endblock form_label %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
            {% set level = error.cause.constraint.payload.severity is defined ? error.cause.constraint.payload.severity : 'danger' %}
            <div style="margin-top: 5px; padding: 10px;" uk-alert class="uk-alert-{{ level }} uk-text-small">
                <p>{{ error.message }}</p>
            </div>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}

{%- block form_widget_simple -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' uk-input')|trim}) -%}
    {% if form.vars.read_only is defined and form.vars.read_only == true %}
        {% set attr = attr|merge({disabled: "true"}) %}
    {% endif %}
    {{- parent() -}}
{%- endblock form_widget_simple -%}

{% block button_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-button')|trim}) %}
    {% if form.vars.read_only is defined and form.vars.read_only == true %}
        {% set attr = attr|merge({disabled: "true"}) %}
    {% endif %}
    {{- parent() -}}
{%- endblock %}

{%- block textarea_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-textarea')|trim}) %}
    {% if form.vars.read_only is defined and form.vars.read_only == true %}
        {% set attr = attr|merge({disabled: "true"}) %}
    {% endif %}
    {{- parent() -}}
{%- endblock textarea_widget -%}

{%- block checkbox_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-checkbox')|trim}) %}
    {% if label is not same as(false) -%}
        <label for="{{ form.vars.id }}">{{- parent() -}}&nbsp;{{ form.vars.label }}</label>
    {% else %}
        {{- parent() -}}
    {% endif %}
{%- endblock checkbox_widget -%}

{%- block radio_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-radio')|trim}) %}
    {% if form.vars.read_only is defined and form.vars.read_only == true %}
        {% set attr = attr|merge({disabled: "true"}) %}
    {% endif %}
    {{- parent() -}}
{%- endblock radio_widget -%}

{%- block choice_widget_collapsed -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-select')|trim}) %}
    {% if form.vars.read_only is defined and form.vars.read_only == true %}
        {% set attr = attr|merge({disabled: "true"}) %}
    {% endif %}
    {{- parent() -}}
{%- endblock choice_widget_collapsed -%}

{%- block choice_widget_expanded -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-form-controls-checkboxes')|trim}) %}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            {{- form_widget(child) -}}
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{%- block range_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-range')|trim}) %}
    {% if form.vars.read_only is defined and form.vars.read_only == true %}
        {% set attr = attr|merge({disabled: "true"}) %}
    {% endif %}
    {{- parent() -}}
{%- endblock range_widget %}

{%- block submit_widget -%}
    {% if (attr.class is not defined) %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-button-primary')|trim}) %}
    {% endif %}
    {{- parent() -}}
{%- endblock submit_widget -%}

{%- block reset_widget -%}
    {% if (attr.class is not defined) %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-button-default')|trim}) %}
    {% endif %}
    {{- parent() -}}
{%- endblock reset_widget -%}

{%- block collection_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' collection-form')|trim}) %}
    {{- parent() -}}
{%- endblock collection_widget -%}

{%- block unite_cms_core_reference_widget -%}
    {{ include('@UniteCMSCore/Form/_recursive_asset_dumper.html.twig', { form: form }) }}
    {{ block('unite_cms_web_component_widget') }}
{%- endblock unite_cms_core_reference_widget -%}

{%- block unite_cms_core_reference_of_widget -%}
    <div class="unite-reference-of-view-wrapper">
        {% if template is not null and templateParameters is not null %}
            {{ include(template, {parameters: templateParameters}) }}
        {% else %}
            <div class="uk-text-meta uk-padding-small">Content for this field will be available, once it is created and referenced by other content items.</div>
        {% endif %}
    </div>
{%- endblock unite_cms_core_reference_of_widget -%}


{%- block unite_cms_web_component_widget -%}
    <{{ tag }} {{ block('widget_attributes') }} value="{{ value is iterable ? value|json_encode : value }}"></{{ tag }}>
{%- endblock unite_cms_web_component_widget -%}

{%- block unite_cms_choice_cards_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' choice-cards-type uk-grid-small uk-grid-match uk-flex-center')|trim}) %}
    <div {{ block('widget_container_attributes') }} uk-grid>
        {%- for child in form %}
            {% if child.vars.value is not empty %}
                <div class="uk-flex-1">
                    <label class="uk-card uk-card-hover choice-card uk-card-default" for="{{ child.vars.id }}"{% if child.vars.attr.description and compact %} uk-tooltip="{{ child.vars.attr.description }}"{% endif %}>
                        <div class="uk-card-body"{% if 'compact' in attr.class %}{% endif %}>
                            {% if child.vars.attr.icon is defined and child.vars.attr.icon is not empty %}
                                <i data-feather="{{ child.vars.attr.icon }}" width="50" height="50"></i><br />
                            {% endif %}
                            <h3>{{ child.vars.label }}</h3>
                            {% if child.vars.attr.description is defined and not compact %}
                                <p>{{ child.vars.attr.description }}</p>
                            {% endif %}
                        </div>
                        <div class="uk-card-footer">
                            {{- form_widget(child) -}}
                        </div>
                    </label>
                </div>
            {% endif %}
        {% endfor -%}
    </div>
{%- endblock unite_cms_choice_cards_widget -%}

{%- block unite_cms_core_link_widget -%}
    <unite-cms-core-link-field
            label="{{ form.vars.widget_label }}"
            name="{{ form.vars.full_name }}"
            value="{{ form.url.vars.value }}"
            {% if form.title is defined %}
                title-widget='{ "label": "{% trans %}form.title.vars.label{% endtrans %}", "value": "{{ form.title.vars.value }}" }'
            {% endif %}
            {% if form.target is defined %}
                target-widget='{
                    "label": "{% trans %}form.target.var.label{% endtrans %}",
                    "choices": {{ form.target.vars.choices|json_encode }},
                    "value": "{{ form.target.vars.value }}"
                }'
            {% endif %}
    >
    </unite-cms-core-link-field>
{%- endblock -%}

{%- block unite_cms_core_auto_text_widget -%}
    <unite-cms-core-auto-text-field
            name="{{ form.vars.full_name }}"
            text-value="{{ form.text.vars.value }}"
            widget-type="{{ form.vars.widget_type }}"
            auto-value="{{ form.auto.vars.checked }}"
            generation-url="{{ form.vars.generation_url }}"
            update-text="{{ form.vars.update_text }}"
            content-id="{{ form.vars.content_id }}"
            labels='{
                "auto": "{% trans %}auto_text.field.auto{% endtrans %}",
                "manual": "{% trans %}auto_text.field.manual{% endtrans %}",
                "desc_auto_update": "{% trans %}auto_text.field.desc.auto_update{% endtrans %}",
                "desc_no_auto_update": "{% trans %}auto_text.field.desc.no_auto_update{% endtrans %}",
                "desc_manual": "{% trans %}auto_text.field.desc.manual{% endtrans %}"
            }'>
    </unite-cms-core-auto-text-field>
{%- endblock -%}

{%- block unite_cms_core_state_widget -%}
    <unite-cms-core-state-field
        state='{
          "label": "{{ form.vars.current_state_label }}",
          "name": "{{ form.state.vars.full_name }}",
          "value": "{{ form.state.vars.value }}",
          "category": "{{ form.vars.current_state_category }}"
        }'
        transition='{
          "name": "{{ form.transition.vars.full_name }}",
          "value": "{{ form.transition.vars.value }}",
          "placeholder": "{{ form.transition.vars.placeholder|trans }}",
          "transitions": {{ form.transition.vars.choices|json_encode }}
        }'
        current-label="{% trans %}state.field.current_label{% endtrans %}"
        to-label="{% trans %}state.field.to_label{% endtrans %}"
    ></unite-cms-core-state-field>
{%- endblock unite_cms_core_state_widget -%}

{%- block unite_cms_core_field_exception_widget %}
    <div class="uk-alert-danger" uk-alert>There was a problem rendering this field. Please check the domain configuration or ask an administrator.</div>
{%- endblock unite_cms_core_field_exception_widget -%}