{% use "form_div_layout.html.twig" %}

{# Widgets #}

{%- block form_start -%}
    {% if (attr.class is not defined) or (not 'uk-form-vertical' in attr.class) %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-form-horizontal')|trim}) %}
    {% endif %}
    {{- parent() -}}
{%- endblock form_start -%}

{%- block form_end -%}
    {{- parent() -}}
    {{ include('@UniteCMSCore/Form/_recursive_asset_dumper.html.twig', { form: form }) }}
{%- endblock form_end -%}

{%- block form_row -%}
    {% if label is not same as(false) -%}
        <div class="uk-margin">
            {{- form_label(form) -}}
            <div class="uk-form-controls">
                {{- form_widget(form) -}}
                {{- form_errors(form) -}}
            </div>
        </div>
    {% else %}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    {% endif %}
{%- endblock form_row -%}

{%- block button_row -%}
    <div class="uk-text-right" uk-margin>
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row -%}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' uk-form-label')|trim}) -%}
    {{- parent() -}}
{%- endblock form_label %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
            <div style="margin-top: 5px; padding: 10px;" uk-alert class="uk-alert-danger uk-text-small">
                <p>{{ error.message }}</p>
            </div>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}

{%- block form_widget_simple -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' uk-input')|trim}) -%}
    {{- parent() -}}
{%- endblock form_widget_simple -%}

{% block button_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-button')|trim}) %}
    {{- parent() -}}
{%- endblock %}

{%- block textarea_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-textarea')|trim}) %}
    {{- parent() -}}
{%- endblock textarea_widget -%}

{%- block checkbox_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-checkbox')|trim}) %}

    {{- parent() -}}
{%- endblock checkbox_widget -%}

{%- block radio_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-radio')|trim}) %}
    {{- parent() -}}
{%- endblock radio_widget -%}

{%- block choice_widget_collapsed -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-select')|trim}) %}
    {{- parent() -}}
{%- endblock choice_widget_collapsed -%}

{%- block range_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-range')|trim}) %}
    {{- parent() -}}
{%- endblock range_widget %}

{%- block submit_widget -%}
    {% if (attr.class is not defined) %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-button-primary')|trim}) %}
    {% endif %}
    {{- parent() -}}
{%- endblock submit_widget -%}

{%- block reset_widget -%}
    {% if (attr.class is not defined) %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-button-default')|trim}) %}
    {% endif %}
    {{- parent() -}}
{%- endblock reset_widget -%}



{%- block collection_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' collection-form')|trim}) %}
    {{- parent() -}}
{%- endblock collection_widget -%}

{%- block unite_cms_web_component_widget -%}
    <{{ tag }} {{ block('widget_attributes') }} value="{{ value }}"></{{ tag }}>
{%- endblock unite_cms_web_component_widget -%}

{%- block unite_cms_choice_cards_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' choice-cards-type uk-grid-small uk-grid-match uk-flex-center')|trim}) %}
    <div {{ block('widget_container_attributes') }} uk-grid>
        {%- for child in form %}
            <div class="uk-flex-1">
                <label class="uk-card uk-card-hover choice-card uk-card-default" for="{{ child.vars.id }}"{% if child.vars.attr.description and compact %} uk-tooltip="{{ child.vars.attr.description }}"{% endif %}>
                    <div class="uk-card-body"{% if 'compact' in attr.class %}{% endif %}>
                        {% if child.vars.attr.icon is defined and child.vars.attr.icon is not empty %}
                            <i data-feather="{{ child.vars.attr.icon }}" width="50" height="50"></i><br />
                        {% endif %}
                        <h3>{{ child.vars.label }}</h3>
                        {% if child.vars.attr.description is defined and not compact %}
                            <p>{{ child.vars.attr.description }}</p>
                        {% endif %}
                    </div>
                    <div class="uk-card-footer">
                        {{- form_widget(child) -}}
                    </div>
                </label>
            </div>
        {% endfor -%}
    </div>
{%- endblock unite_cms_choice_cards_widget -%}

{%- block unite_cms_core_link_widget -%}
    <unite-cms-core-link-field
            label="{{ form.vars.widget_label }}"
            name="{{ form.vars.full_name }}"
            value="{{ form.url.vars.value }}"
            {% if form.title is defined %}
                title-widget='{ "label": "{% trans %}form.title.vars.label{% endtrans %}", "value": "{{ form.title.vars.value }}" }'
            {% endif %}
            {% if form.target is defined %}
                target-widget='{
                    "label": "{% trans %}form.target.var.label{% endtrans %}",
                    "choices": {{ form.target.vars.choices|json_encode }},
                    "value": "{{ form.target.vars.value }}"
                }'
            {% endif %}
    >
    </unite-cms-core-link-field>
{%- endblock -%}
