{% extends '@UniteCMSCore/layout.html.twig' %}
{% block title %}{% trans %}organization.api_key.title{% endtrans %}{% endblock title %}
{% block navigation %}{{ include('@UniteCMSCore/Organization/_navigation.html.twig') }}{% endblock navigation %}
{% block content %}
<article class="uk-card uk-card-default uk-card-body full-content-card uk-flex-1">
    <header class="uk-card-header uk-flex">
        <h2 class="uk-flex-1">{% trans %}organization.api_key.headline{% endtrans %}</h2>
        <a href="{{ url('unitecms_core_organizationapikey_create', { organization: organization.identifier }) }}" class="uk-button uk-button-primary">
            <i data-feather="plus" class="uk-margin-small-right-small"></i>
            {% trans %}organization.api_key.create.button{% endtrans %}
        </a>
    </header>

    <div class="unite-card-table">
        <table class="uk-table uk-table-justify uk-table-divider uk-table-middle">
            <thead>
            <tr>
                <th>Name</th>
                <th>Created</th>
                <th>Memberships</th>
                <th>Token</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for apiKey in apiKeys %}
                <tr>
                    <td>{{ apiKey.name }}</td>
                    <td>{{ apiKey.created|date }}</td>
                    <td>
                        {% for domainMember in apiKey.domains %}
                            <span class="uk-badge split">
                                <span>{{ domainMember.domain }}</span>
                                <span>{{ domainMember.domainMemberType }}</span>
                            </span>
                            <br />
                        {% endfor %}
                    </td>
                    <td class="unite-token-cell">
                        <button class="uk-button uk-button-default" type="button" uk-toggle="target: #key-modal-{{ apiKey.id }}">
                            <i data-feather="eye" class="uk-margin-small-right-small" width="16" height="16"></i>
                        </button>
                        <div id="key-modal-{{ apiKey.id }}" class="uk-flex-top" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                                <button class="uk-modal-close-default" type="button" uk-close></button>
                                <h2 class="uk-modal-title">{% trans with { '%name%': apiKey.name } %}organization.api_key.token.headline{% endtrans %}</h2>

                                <unite-cms-core-api-token-field token="{{ apiKey.token }}" success-message="{% trans %}organization.api_key.token.copied{% endtrans %}"></unite-cms-core-api-token-field>

                                <pre><strong>ENDPOINT: </strong> https://{BASEURL}/{{ organization.identifier }}/{DOMAIN}/api

<strong>HEADER: </strong> <em>Authentication=TOKEN</em>
= or =
<strong>QUERY: </strong> <em>token=TOKEN</em></pre>

                            </div>
                        </div>
                    </td>
                    <td>
                        <button class="uk-button uk-button-default actions-dropdown" type="button"><i data-feather="more-horizontal"></i></button>
                        <div uk-dropdown="mode: click; pos: bottom-right; offset: 5">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a href="{{ url('unitecms_core_organizationapikey_update', { organization: organization.identifier, apiKey: apiKey.id }) }}">
                                        <i class="uk-margin-small-right" data-feather="edit"></i>
                                        {% trans %}organization.api_key.update.button{% endtrans %}
                                    </a></li>
                                <li><a class="uk-text-danger" href="{{ url('unitecms_core_organizationapikey_delete', { organization: organization.identifier, apiKey: apiKey.id }) }}">
                                        <i class="uk-margin-small-right" data-feather="trash-2"></i>
                                        {% trans %}organization.api_key.delete.button{% endtrans %}
                                    </a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="navigation">
        {{ knp_pagination_render(apiKeys) }}
    </div>
</article>
{% endblock content %}
