{% extends '@UnitedCMSCore/layout.html.twig' %}
{% block title %}{{ site_name }}{% endblock title %}
{% block navigation %}{% endblock %}
{% block content %}
<article class="uk-card uk-card-default uk-card-body centered-content-card uk-width-large uk-flex uk-flex-column">
    <header class="uk-card-header">
        <h2>{% trans %}authentication.login.headline{% endtrans %}</h2>
    </header>
    <div class="uk-flex-1">
        {% if error %}
            <div uk-alert class="uk-alert-danger">
                <a class="uk-alert-close" uk-close></a>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <form class="uk-form-vertical" action="{{ path('unitedcms_core_authentication_login') }}" method="post">
            <div class="uk-margin">
                <label class="uk-form-label" for="username">{% trans %}authentication.login.username{% endtrans %}</label>
                <div class="uk-form-controls">
                    <input type="email" id="username" name="_username" value="{{ last_username }}" class="uk-input"/>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="username">{% trans %}authentication.login.password{% endtrans %}</label>
                <div class="uk-form-controls">
                    <input type="password" id="password" name="_password" class="uk-input"/>
                </div>
            </div>

            <div class="uk-margin">
                <label for="remember_me">
                    <input class="uk-checkbox" type="checkbox" id="remember_me" name="_remember_me" checked>
                    {% trans %}authentication.login.remember_me{% endtrans %}
                </label>
            </div>

            <div class="uk-margin uk-text-right">
                <a href="{{ path('unitedcms_core_profile_resetpassword') }}">
                    {% trans %}authentication.login.reset_password{% endtrans %}
                </a>
            </div>

            <button class="uk-button-primary uk-button uk-first-column" type="submit">{% trans %}authentication.login.submit{% endtrans %}</button>
        </form>
    </div>
</article>
<style type="text/css" rel="stylesheet">
    body {
        background: url({{ site_background }}) no-repeat;
        background-size: cover;
    }
</style>
{% endblock %}
