{% extends '@UnitedCMSCore/layout.html.twig' %}
{% block title %}{{ domain }}: Create user{% endblock title %}
{% block navtitle %}{{ include('@UnitedCMSCore/Domain/_navtitle.html.twig') }}{% endblock %}
{% block navigation %}{{ include('@UnitedCMSCore/Domain/_navigation.html.twig') }}{% endblock navigation %}
{% block content %}
<article class="uk-card uk-card-default uk-card-body uk-width-1-1 centered-content-card">
    <header class="uk-card-header uk-flex">
        <a class="back-button" href="{{ path('unitedcms_core_domainuser_index', {
            organization: united.organization.identifier,
            domain: united.domain.identifier
        }) }}">
            <i data-feather="arrow-left"></i>
        </a>
        <h2 class="uk-flex-1">{% trans %}domain.user.add.headline{% endtrans %}</h2>
    </header>

    {{ form(form_create) }}
</article>

<article class="uk-card uk-card-default uk-card-body uk-width-1-1 centered-content-card">
    <header class="uk-card-header uk-flex">
        <h2 class="uk-flex-1">{% trans %}domain.user.invite.headline{% endtrans %}</h2>
    </header>

    {{ form(form_invite) }}
</article>
{% endblock content %}