<header class="uk-flex">
    <button uk-toggle="target: #unite-main-menu-main; animation: uk-animation-slide-top"><span uk-icon="icon: menu"></span></button>
    <h2 class="uk-text-center uk-flex-1">{{ united.organization }}</h2>
    <button uk-toggle="target: #unite-main-menu-user; animation: uk-animation-slide-top"><span uk-icon="icon: user"></span></button>
</header>
<article id="unite-main-menu-main" class="uk-flex-1" hidden>
    <button type="button" uk-close uk-toggle="target: #unite-main-menu-main; animation: uk-animation-slide-top"></button>




    <ul class="uk-nav uk-nav-default">
        <li class="uk-nav-header">{% trans %}organization.menu.manage.header{% endtrans %}</li>
        <!--li><a href="#">{% trans %}organization.menu.manage.settings{% endtrans %}</a></li-->
        <li>
            <a href="{{ url('unitedcms_core_organizationuser_index', {organization: united.organization.identifier}) }}">
                <span uk-icon="icon: users" class="uk-margin-small-right"></span>
                {% trans %}organization.menu.manage.user{% endtrans %}
            </a>
        </li>
        <!--li><a href="#">{% trans %}organization.menu.manage.delete{% endtrans %}</a></li-->
    </ul>




    <ul class="uk-nav uk-nav-default">
        <li class="uk-nav-header">{% trans %}organization.menu.domains.header{% endtrans %}</li>

        {% for domain in united.organization.domains %}
            <li>
                <a href="{{ path('unitedcms_core_domain_view', {organization: organization.identifier, domain: domain.identifier}) }}">
                    <span uk-icon="icon: world" class="uk-margin-small-right"></span>
                    {{ domain }}
                </a>
            </li>
        {% endfor %}

        <li>
            <a class="uk-text-success" href="{{ url('unitedcms_core_domain_create', {organization: united.organization.identifier}) }}">
                <span uk-icon="icon: plus" class="uk-margin-small-right"></span>
                {% trans %}organization.menu.domains.add{% endtrans %}
            </a>
        </li>
    </ul>




</article>
<footer id="unite-main-menu-user" hidden>
    <button type="button" uk-close uk-toggle="target: #unite-main-menu-user; animation: uk-animation-slide-top"></button>
    {% include '@UnitedCMSCore/_user-menu.html.twig' %}
</footer>