<h2>Invitation</h2>
<p>{{ app.user }} invited you to join
    {% if invitation.domainMemberType %}
        domain <strong>{{ invitation.domainMemberType.domain }}</strong> on {{ invitation.organization }} as <strong>{{ invitation.domainMemberType }}</strong>.
    {% else %}
        organization <strong>{{ invitation.organization }}</strong>.
    {% endif %}
</p>
<p><a href="{{ invitation_url }}">Accept</a></p>