{% extends '@UnitedCMSCore/layout.html.twig' %}
{% block title %}{{ domain }} / {{ settingType }} / Delete #{{ setting.id }}{% endblock title %}
{% block navtitle %}{{ include('@UnitedCMSCore/Domain/_navtitle.html.twig') }}{% endblock %}
{% block navigation %}{{ include('@UnitedCMSCore/Domain/_navigation.html.twig') }}{% endblock navigation %}
{% block content %}
    <h1 class="uk-heading-divider">Remove {{ translation.locale }} Translation of {{ settingType }} #{{ setting.id }}</h1>

    <div class="uk-card uk-card-default uk-card-body">
        {{ form(form) }}
    </div>
{% endblock content %}