{% extends '@UniteCMSCore/layout.html.twig' %}
{% block title %}{% trans with {"%type%": settingType|escape } %}setting.revisions.title{% endtrans %}{% endblock title %}
{% block navigation %}{{ include('@UniteCMSCore/Domain/_navigation.html.twig') }}{% endblock navigation %}
{% block content %}
<article class="uk-card uk-card-default uk-card-body full-content-card uk-flex-1">
    <header class="uk-card-header uk-flex">
        <a class="back-button" href="{{ path('unitecms_core_setting_index', {
            domain: unite.domain.identifier,
            organization: unite.organization.identifier,
            setting_type: settingType.identifier
        }) }}"><i data-feather="arrow-left"></i></a>
        <h2 class="uk-flex-1">{% trans with { "%type%": settingType|escape } %}setting.revisions.headline{% endtrans %}</h2>
    </header>

    <div class="unite-card-table">
        <table class="uk-table uk-table-justify uk-table-divider uk-table-hover">
            <thead>
            <tr>
                <th>Info</th>
                <th>Data</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for revision in revisions %}
                <tr>
                    <td>
                        <h4>Version: #{{ revision.version }}</h4>
                        <ul class="uk-list">
                            <li>Action: {{ revision.action }}</li>
                            <li>Timestamp: {{ revision.loggedAt|date }}</li>
                            <li>Actor: {{ revision.username }}</li>
                        </ul>
                    </td>
                    <td>
                        {% if revision.data %}
                            <pre>{{ revision.data.data|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                        {% endif %}
                    </td>
                    <td>
                        {% if not loop.first and revision.action != 'remove' %}
                            <button class="uk-button uk-button-default actions-dropdown" type="button"><i data-feather="more-horizontal"></i></button>
                            <div uk-dropdown="mode: click; pos: bottom-right; offset: 5">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a href="{{ path('unitecms_core_setting_revisionsrevert', {
                                            'organization': unite.domain.organization.identifier,
                                            'domain': unite.domain.identifier,
                                            'setting_type': settingType.identifier,
                                            'setting': setting.id,
                                            'version': revision.version
                                        }) }}">
                                            <i class="uk-margin-small-right" data-feather="rewind"></i>
                                            {% trans %}setting.revisions.revert.button{% endtrans %}
                                        </a></li>
                                </ul>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</article>
{% endblock content %}
