{% extends '@UnitedCMSCore/layout.html.twig' %}
{% block title %}{% trans with {"%type%": settingType } %}setting.translations.title{% endtrans %}{% endblock title %}
{% block navigation %}{{ include('@UnitedCMSCore/Domain/_navigation.html.twig') }}{% endblock navigation %}
{% block content %}
<article class="uk-card uk-card-default uk-card-body full-content-card uk-flex-1">
    <header class="uk-card-header uk-flex">
        <a class="back-button" href="{{ path('unitedcms_core_setting_index', {
            domain: united.domain.identifier,
            organization: united.organization.identifier,
            setting_type: settingType.identifier
        }) }}"><i data-feather="arrow-left"></i></a>
        <h2 class="uk-flex-1">{% trans with {"%type%": settingType} %}setting.translations.headline{% endtrans %}</h2>
    </header>

    <div class="unite-card-table">
        <table class="uk-table uk-table-justify uk-table-divider uk-table-hover">
            <thead>
                <tr>
                    <th>Language</th>
                    <th>Content #ID</th>
                    <th>Actions</th>
            </thead>
            <tbody>
            {% set translated = [] %}
            {% set primary_translation = settingType.locales|length > 0 ? settingType.locales[0] : null %}
            {% for translation in settingType.settings %}
                {% set translated = translated|merge([translation.locale]) %}
                <tr>
                    <td>{{ translation.locale }}</td>
                    <td>{{ translation.id }}</td>
                    <td class="actions">
                        <button class="uk-button uk-button-default actions-dropdown" type="button"><i data-feather="more-horizontal"></i></button>
                        <div uk-dropdown="mode: click; pos: bottom-right; offset: 5">
                            <ul class="uk-nav uk-dropdown-nav">

                                <li><a href="{{ path('unitedcms_core_setting_index', {
                                        'organization': united.domain.organization.identifier,
                                        'domain': united.domain.identifier,
                                        'setting_type': settingType.identifier,
                                        'locale': translation.locale
                                    }) }}">
                                        <i class="uk-margin-small-right" data-feather="edit"></i>
                                        {% trans %}setting.update.button{% endtrans %}
                                </a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            {% for locale in settingType.locales %}
                {% if locale not in translated %}
                    <tr>
                        <td>{{ locale }}</td>
                        <td></td>
                        <td class="actions">
                            <button class="uk-button uk-button-default actions-dropdown" type="button"><i data-feather="more-horizontal"></i></button>
                            <div uk-dropdown="mode: click; pos: bottom-right; offset: 5">
                                <ul class="uk-nav uk-dropdown-nav">

                                    <li><a href="{{ path('unitedcms_core_setting_index', {
                                            'organization': united.domain.organization.identifier,
                                            'domain': united.domain.identifier,
                                            'setting_type': settingType.identifier,
                                            'locale': locale
                                        }) }}" class="uk-text-success">
                                            <i class="uk-margin-small-right" data-feather="plus-circle"></i>
                                            {% trans with {"%locale%": locale} %}setting.translations.create.button{% endtrans %}
                                        </a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</article>
{% endblock content %}