{% extends '@UniteCMSCore/layout.html.twig' %}
{% block title %}{% trans %}profile.accept_invitation.title{% endtrans %}{% endblock title %}
{% block navigation %}{% endblock %}
{% block content %}
    <article class="uk-card uk-card-default uk-card-body centered-content-card uk-width-large">
    <header class="uk-card-header uk-flex">
            <h2 class="uk-flex-1">{% trans %}profile.accept_invitation.headline{% endtrans %}</h2>
    </header>
    <div class="uk-flex-1">
        {% if not tokenPresent %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{% trans %}profile.accept_invitation.token_missing{% endtrans %}</p>
            </div>
        {% elseif not tokenFound %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{% trans %}profile.accept_invitation.token_not_found{% endtrans %}</p>
            </div>
        {% elseif tokenExpired %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{% trans %}profile.accept_invitation.token_expired{% endtrans %}</p>
            </div>
        {% elseif wrongUser %}
            <div class="uk-alert-warning" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{% trans %}profile.accept_invitation.wrong_user{% endtrans %}</p>
            </div>
            <p><a class="uk-button uk-button-default" href="{{ path('unitecms_core_organizations') }}">Dashboard</a></p>
        {% elseif alreadyMember %}
            <div class="uk-alert-warning" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{% trans %}profile.accept_invitation.already_member{% endtrans %}</p>
            </div>
        {% elseif form %}

            {% if not form.vars.submitted or not form.vars.valid %}
                {{ form_start(form, {attr: {class: 'uk-form-vertical', autocomplete: 'off'}}) }}
                {{ form_end(form) }}
            {% else %}
                <h3>{% trans %}profile.accept_invitation.success.headline{% endtrans %}</h3>

                {% if app.user %}
                    <p>{% trans with {"%domain%": invitation.domain } %}profile.accept_invitation.success.message_logged_in{% endtrans %}.</p>
                    <p><a href="{{ path('unitecms_core_domain_view', {
                            organization: invitation.domain.organization,
                            domain: invitation.domain
                        }) }}" class="uk-button uk-button-default uk-button-small">{% trans %}profile.accept_invitation.success.view_domain.button{% endtrans %}</a></p>
                {% else %}
                    <p>{% trans with {"%domain%": invitation.domain } %}profile.accept_invitation.success.message{% endtrans %}</p>
                    <p><a href="{{ path('unitecms_core_authentication_login') }}" class="uk-button uk-button-default uk-button-small">{% trans %}profile.accept_invitation.success.login.button{% endtrans %}</a></p>
                {% endif %}

            {% endif %}

        {% endif %}
    </div>
</article>
<style type="text/css" rel="stylesheet">
    body {
        background: url({{ site_background }}) no-repeat;
        background-size: cover;
    }
</style>
{% endblock content %}
