{% extends '@UnitedCMSCore/layout.html.twig' %}
{% block title %}{{ site_name }}{% endblock title %}
{% block navigation %}{% endblock %}
{% block content %}
<article class="uk-card uk-card-default uk-card-body centered-content-card uk-width-large uk-flex uk-flex-column">
    <header class="uk-card-header uk-flex">
        <a class="back-button" href="{{ path('unitedcms_core_authentication_login') }}">
            <i data-feather="arrow-left"></i>
        </a>
        <h2 class="uk-flex-1">{% trans %}authentication.reset_password_confirm.headline{% endtrans %}</h2>
    </header>
    <div class="uk-flex-1">
        {% if not userFound %}
            <p>Invalid token</p>
        {% elseif tokenExpired %}
            <p>Token expired</p>
        {% elseif form %}

            {% if not form.vars.submitted or not form.vars.valid %}
                {{ form_start(form, {attr: {class: 'uk-form-vertical'}}) }}
                {{ form_end(form) }}
            {% else %}
                <h3>Thank you!</h3>
                <p>Your new password was saved. Now you can login with the new password on the <a
                            href="{{ path('unitedcms_core_authentication_login') }}" class="uk-button uk-button-text">Login</a>
                    page.</p>
            {% endif %}
        {% endif %}
    </div>
</article>
<style type="text/css" rel="stylesheet">
    body {
        background: url({{ site_background }}) no-repeat;
        background-size: cover;
    }
</style>
{% endblock content %}