{% extends '@UniteCMSCore/layout.html.twig' %}
{% block title %}{% trans with {'%content%': content|escape } %}content.translations.title{% endtrans %}{% endblock title %}
{% block navigation %}{{ include('@UniteCMSCore/Domain/_navigation.html.twig') }}{% endblock navigation %}
{% block content %}
    <article class="uk-card uk-card-default uk-card-body full-content-card uk-flex-1">
        <header class="uk-card-header uk-flex">
            <a class="back-button" href="{{ url('unitecms_core_content_index', [view]) }}"><i data-feather="arrow-left"></i></a>
            <h2 class="uk-flex-1">{% trans with {'%content%': content|escape } %}content.translations.headline{% endtrans %}</h2>
        </header>

        <div class="unite-card-table">
            <table class="uk-table uk-table-justify uk-table-divider uk-table-hover">
                <thead>
                    <tr>
                        <th>Language</th>
                        <th>Content #ID</th>
                        <th>Actions</th>
                </thead>
                <tbody>
                {% set translated = [] %}
                {% for translation in content.allTranslations %}
                    {% set translated = translated|merge([translation.locale]) %}
                    <tr>
                        <td>{{ translation.locale }}</td>
                        <td>{{ translation.id }}</td>
                        <td>

                            <button class="uk-button uk-button-default actions-dropdown" type="button"><i data-feather="more-horizontal"></i></button>
                            <div uk-dropdown="mode: click; pos: bottom-right; offset: 5">
                                <ul class="uk-nav uk-dropdown-nav">

                                    <li><a href="{{ url('unitecms_core_content_update', [view, translation]) }}">
                                        <i class="uk-margin-small-right" data-feather="edit"></i>
                                        {% trans %}content.update.button{% endtrans %}
                                    </a></li>

                                    {% if translation.translationOf %}
                                        <li><a class="uk-text-danger" href="{{ url('unitecms_core_content_removetranslation', {'view': view, 'content': translation.translationOf, 'locale': translation.locale}) }}">
                                            <i class="uk-margin-small-right" data-feather="minus-circle"></i>
                                            {% trans %}content.translations.remove.button{% endtrans %}
                                        </a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                {% for locale in contentType.locales %}
                    {% if locale not in translated %}
                        <tr>
                            <td>{{ locale }}</td>
                            <td></td>
                            <td>

                                <button class="uk-button uk-button-default actions-dropdown" type="button"><i data-feather="more-horizontal"></i></button>
                                <div uk-dropdown="mode: click; pos: bottom-right; offset: 5">
                                    <ul class="uk-nav uk-dropdown-nav">
                                        <li><a class="uk-text-success" href="{{ url('unitecms_core_content_create', {
                                                'view': view,
                                                'locale': locale,
                                                'translation_of': content.id
                                            }) }}">
                                                <i data-feather="plus-circle" class="uk-margin-small-right"></i>
                                                {% trans %}content.translations.create.button{% endtrans %}
                                        </a></li>

                                        <li><a href="{{ url('unitecms_core_content_addtranslation', {'view': view, 'content': content, 'locale': locale}) }}">
                                                <i data-feather="list" class="uk-margin-small-right"></i>
                                                {% trans %}content.translations.add_existing.button{% endtrans %}
                                        </a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
{% endblock content %}
