{% extends '@UniteCMSCore/layout.html.twig' %}
{% block title %}{% trans with {'%content%': content|escape } %}content.update.title{% endtrans %}{% endblock title %}
{% block navigation %}{{ include('@UniteCMSCore/Domain/_navigation.html.twig') }}{% endblock navigation %}
{% block content %}
<article class="uk-card uk-card-default uk-card-body full-content-card uk-flex-1">
    <header class="uk-card-header uk-flex">
        <a class="back-button" href="{{ url('unitecms_core_content_index', {
            domain: domain.identifier|replace({'_':'-'}),
            organization: organization.identifier|replace({'_':'-'}),
            content_type: contentType.identifier|replace({'_':'-'}),
            view: view.identifier|replace({'_':'-'})
        }) }}"><i data-feather="arrow-left"></i></a>
        <h2 class="uk-flex-1">{% trans with {"%content%": content|escape } %}content.update.headline{% endtrans %}</h2>

        <button class="uk-button uk-button-default actions-dropdown" type="button"><i data-feather="more-horizontal"></i></button>
        <div uk-dropdown="mode: click; pos: bottom-right; offset: 5">
            <ul class="uk-nav uk-dropdown-nav">
                {% if contentType.locales|length > 1 %}
                    <li><a href="{{ url('unitecms_core_content_translations', {
                            domain: domain.identifier|replace({'_':'-'}),
                            organization: organization.identifier|replace({'_':'-'}),
                            content_type: contentType.identifier|replace({'_':'-'}),
                            view: view.identifier|replace({'_':'-'}),
                            content: content.id
                        }) }}"><i class="uk-margin-small-right" data-feather="globe"></i>{% trans %}content.translations.button{% endtrans %}</a></li>
                {% endif %}
                <li><a href="{{ url('unitecms_core_content_revisions', {
                        domain: domain.identifier|replace({'_':'-'}),
                        organization: organization.identifier|replace({'_':'-'}),
                        content_type: contentType.identifier|replace({'_':'-'}),
                        view: view.identifier|replace({'_':'-'}),
                        content: content.id
                    }) }}"><i class="uk-margin-small-right" data-feather="skip-back"></i>{% trans %}content.revisions.button{% endtrans %}</a></li>
                <li><a href="{{ url('unitecms_core_content_delete', {
                        domain: domain.identifier|replace({'_':'-'}),
                        organization: organization.identifier|replace({'_':'-'}),
                        content_type: contentType.identifier|replace({'_':'-'}),
                        view: view.identifier|replace({'_':'-'}),
                        content: content.id
                    }) }}" class="uk-text-danger"><i class="uk-margin-small-right" data-feather="trash-2"></i>{% trans %}content.delete.button{% endtrans %}</a></li>
            </ul>
        </div>

    </header>
    {{ form(form) }}
</article>
{% endblock content %}
