{% extends '@UniteCMSCore/Form/_registration-form.html.twig' %}

{% block form_body %}
    {{- parent() -}}
    <hr />
    <fieldset class="uk-fieldset">
        {{ form_row(form.organizationTitle) }}
        {{ form_row(form.organizationIdentifier) }}
    </fieldset>
{% endblock %}

{% block form_actions %}
    <div class="uk-flex uk-flex-between uk-flex-middle uk-flex-wrap">
        <a class="uk-button uk-button-text" style="margin: 10px;" href="{{ url('unitecms_core_authentication_login') }}">{% trans %}registration.registration.login.button{% endtrans %}</a>
        {{ form_widget(form.submit, {attr: {style: 'margin: 10px;'}}) }}
    </div>
{% endblock %}