{% extends '@UniteCMSCore/layout.html.twig' %}
{% block title %}{% trans %}domain.create.title{% endtrans %}{% endblock title %}
{% block navigation %}{{ include('@UniteCMSCore/Organization/_navigation.html.twig') }}{% endblock navigation %}
{% block content %}
<article class="uk-card uk-card-default uk-card-body full-content-card always-full uk-flex-1">
    {{ form_start(form) }}
    <header class="uk-card-header uk-flex">
        <a class="back-button" href="{{ path('unitecms_core_domain_index', { organization: unite.organization.identifier }) }}">
            <i data-feather="arrow-left"></i>
        </a>
        <h2 class="uk-flex-1">{% trans %}domain.create.headline{% endtrans %}</h2>
        {{ form_widget(form.submit) }}
    </header>
    {{ form_end(form) }}
</article>
{% endblock content %}
