{% extends '@UnitedCMSCore/layout.html.twig' %}
{% block title %}{{ organization }}: Domain erstellen{% endblock title %}
{% block navtitle %}<a class="uk-navbar-item uk-button uk-button-text"
                       href="{{ path('unitedcms_core_domain_index', {organization: organization.identifier}) }}">{{ organization }}</a>{% endblock %}
{% block navigation %}{{ include('@UnitedCMSCore/Organization/_navigation.html.twig') }}{% endblock navigation %}
{% block content %}
<article class="uk-card uk-card-default uk-card-body uk-width-1-1 full-content-card">
    {{ form_start(form) }}
    <header class="uk-card-header uk-flex">
        <h2 class="uk-flex-1">{% trans %}domain.create.headline{% endtrans %}</h2>
        {{ form_widget(form.submit) }}
    </header>
    {{ form_end(form) }}
</article>
{% endblock content %}
