{% extends '@UnitedCMSCore/layout.html.twig' %}
{% block title %}{{ domain }}: Löschen{% endblock title %}
{% block navtitle %}{{ include('@UnitedCMSCore/Domain/_navtitle.html.twig') }}{% endblock %}
{% block navigation %}{{ include('@UnitedCMSCore/Domain/_navigation.domain.html.twig') }}{% endblock navigation %}
{% block content %}
    <h1 class="uk-heading-divider">Delete Domain "{{ domain }}"</h1>

    <div class="uk-card uk-card-default uk-card-body">
        {{ form(form) }}
    </div>
{% endblock content %}