{% extends '@UniteCMSCore/layout.html.twig' %}
{% block title %}{% trans with { '%domain%': unite.domain|escape } %}domain.delete.title{% endtrans %}{% endblock title %}
{% block navigation %}{{ include('@UniteCMSCore/Domain/_navigation.html.twig') }}{% endblock navigation %}
{% block content %}
    <article class="uk-card uk-card-default uk-card-body full-content-card uk-flex-1">
        <header class="uk-card-header uk-flex">
            <a class="back-button" href="{{ url('unitecms_core_domain_view', [unite.domain]) }}">
                <i data-feather="arrow-left"></i>
            </a>
            <h1 class="uk-flex-1">{% trans with { '%domain%': unite.domain|escape } %}domain.delete.headline{% endtrans %}</h1>
        </header>

        {{ form_errors(form) }}

        <p class="uk-text-center">
            <i data-feather="trash-2" width="100" height="100" style="display: block; margin: 50px auto 30px;"></i>
            <br />
            {% trans with {'%domain%': domain|escape } %}domain.delete.text{% endtrans %}
        </p>

        {{ include('@UniteCMSCore/Domain/_change_visualization.html.twig', { original: domain, updated: deletedDomain}) }}

        {{ form_start(form) }}
        <p class="uk-text-center">

            <a class="uk-button" style="background: white; margin: 10px;" href="{{ url('unitecms_core_domain_view', [domain]) }}">{% trans %}domain.delete.cancel{% endtrans %}</a>

            {{ form_widget(form.submit, {attr: {style: 'margin: 10px;'}}) }}
        </p>
        {{ form_end(form) }}
    </article>
{% endblock content %}
