{% extends '@UnitedCMSCore/layout.html.twig' %}
{% block title %}{{ domain }}: Löschen{% endblock title %}
{% block navtitle %}{{ include('@UnitedCMSCore/Domain/_navtitle.html.twig') }}{% endblock %}
{% block navigation %}{{ include('@UnitedCMSCore/Domain/_navigation.html.twig') }}{% endblock navigation %}
{% block content %}
    <article class="uk-card uk-card-default uk-card-body uk-width-1-1 full-content-card">
        <header class="uk-card-header">
            <h1>Delete Domain "{{ domain }}"</h1>
        </header>

        <div class="uk-card-body">
            {{ form(form) }}
        </div>
    </article>
{% endblock content %}