{% extends '@UnitedCMSCore/layout.html.twig' %}
{% block title %}{{ united.domain }}: Bearbeiten{% endblock title %}
{% block navigation %}{{ include('@UnitedCMSCore/Domain/_navigation.html.twig') }}{% endblock navigation %}
{% block content %}
<article class="uk-card uk-card-default uk-card-body uk-width-1-1 full-content-card">
    {{ form_start(form) }}
    <header class="uk-card-header uk-flex">
        <a class="back-button" href="{{ path('unitedcms_core_domain_view', {
            organization: united.organization.identifier,
            domain: united.domain.identifier
        }) }}">
            <i data-feather="arrow-left"></i>
        </a>
        <h2 class="uk-flex-1">{% trans with {'%domain%': united.domain} %}domain.update.headline{% endtrans %}</h2>
        {{ form_widget(form.submit) }}
    </header>
    {{ form_end(form) }}
</article>
{% endblock content %}