{% set _nav = block('navigation') %}
<!doctype html>
<html>
<head>
    <title>{{ block('title') }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include '@UnitedCMSCore/_assets.html.twig' %}
</head>
<body>
<!--div class="uk-navbar-container uk-hidden@m" uk-navbar uk-sticky
     style="background: white; border-bottom: 1px solid #e5e5e5;">
    {% if _nav is not empty %}
        <div class="uk-navbar-left">
            <a class="uk-navbar-toggle" uk-toggle uk-navbar-toggle-icon href="#modal-main-nav"></a>
        </div>
    {% endif %}
    <div class="uk-navbar-center">
        {{ block('navtitle') }}
    </div>
</div-->

{% if _nav is not empty %}
    <div class="unite-main-menu">
        {{ block('navigation') }}
    </div>
{% endif %}

<div class="unite-main-section">
    <header>
        {% set message_bags = app.session.flashbag.all %}
        {% if message_bags|length > 0 %}
            <div style="margin: 20px 20px 0">
                {% for label, messages in message_bags %}
                    {% for message in messages %}
                        <div uk-alert class="uk-alert-{{ label }}">
                            <a class="uk-alert-close" uk-close></a>
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        <h1>This is the title</h1>
    </header>

    <div class="uk-container">
        {% block content %}{% endblock %}
    </div>
</div>

{% if _nav is not empty %}
    <!--div id="modal-main-nav" class="uk-modal-full" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
            <div class="uk-section uk-section-large" style="min-height: 100vh">
                <div class="uk-container">
                    {{ block('navigation') }}
                </div>
            </div>
        </div>
    </div-->
{% endif %}
</body>
</html>