{% extends '@UnitedCMSCore/layout.html.twig' %}
{% block title %}{{ organization }}{% endblock title %}
{% block navtitle %}<a class="uk-navbar-item uk-button uk-button-text"
                       href="{{ path('unitedcms_core_domain_index', {organization: organization.identifier}) }}">{{ organization }}</a>{% endblock %}
{% block navigation %}{{ include('@UnitedCMSCore/Organization/_navigation.html.twig') }}{% endblock navigation %}
{% block content %}
    <h1 class="uk-heading-divider">Remove {{ member.user }} from organization.</h1>

    <div class="uk-card uk-card-default uk-card-body">
        {{ form(form) }}
    </div>
{% endblock content %}