{% extends '@UnitedCMSCore/layout.html.twig' %}
{% block title %}{% trans %}organization.user.headline{% endtrans %}{% endblock title %}
{% block navigation %}{{ include('@UnitedCMSCore/Organization/_navigation.html.twig') }}{% endblock navigation %}
{% block content %}

    <article class="uk-card uk-card-default uk-card-body uk-width-1-1 full-content-card">
        <header class="uk-card-header">
            <h1>{% trans %}organization.user.headline{% endtrans %}</h1>
        </header>

        <div>
            {% if users|length > 0 %}
                <table class="uk-table uk-table-justify uk-table-divider">
                    <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(users, 'Firstname', 'user.firstname') }}</th>
                        <th>{{ knp_pagination_sortable(users, 'Lastname', 'user.lastname') }}</th>
                        <th>{{ knp_pagination_sortable(users, 'Email', 'user.email') }}</th>
                        <th>{{ knp_pagination_sortable(users, 'Roles', 'user.roles') }}</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for member in users %}
                        <tr>
                            <td>{{ member.user.firstname }}</td>
                            <td>{{ member.user.lastname }}</td>
                            <td>{{ member.user.email }}</td>
                            <td>{{ member.roles|join(', ') }}</td>
                            <td>
                                <ul class="uk-iconnav">
                                    <li><a href="{{ path('unitedcms_core_organizationuser_update', {
                                            organization: organization.identifier,
                                            member: member.id
                                        }) }}" uk-icon="icon: file-edit"></a></li>
                                    <li><a class="uk-text-danger" href="{{ path('unitedcms_core_organizationuser_delete', {
                                            organization: organization.identifier,
                                            member: member.id
                                        }) }}" uk-icon="icon: trash"></a></li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(users) }}
                </div>
            {% endif %}

            <p class="uk-placeholder uk-text-center uk-width-xlarge uk-align-center">
                <i data-feather="info"></i>
                {% trans %}organization.user.description{% endtrans %}
            </p>
        </div>
    </article>

{% endblock content %}